@media only screen and (min-width: 1520px) {

    .a_jeux{
        font-size:1.3em;
    }

    #sl_niveau, label{
        font-size:1.3em;
        margin-bottom:0.8em;
    }

    .jeux{
        margin-top:3em;
        margin-bottom:7em;

        font-size:1.5em;
    }

    .explications{
        width:60%;
    }

    .explications p{
        font-size:1.4em;
    }

    .p_avenir{
        font-size:0.7em;
    }

    #contact{
        margin-top:3em;
        margin-bottom:3em;
        font-size:1.6em;
    }

}

@media only screen and (max-width: 1520px) {

    .a_jeux{
        font-size:1.2em;
    }

    #sl_niveau, label{
        font-size:1.2em;
        margin-bottom:0.8em;
    }

    .jeux{
        margin-top:2.5em;
        margin-bottom:6em;

        font-size:1.3em;
    }

    .explications{
        width:75%;
    }

    .explications p{
        font-size:1.3em;
    }

    .p_avenir{
        font-size:0.7em;
    }

    #contact{
        margin-top:2em;
        margin-bottom:3em;
        font-size:1.3em;
    }

}

@media only screen and (max-width: 800px) {

    .a_jeux{
        font-size:1em;
    }

    #sl_niveau, label{
        font-size:1.1em;
        margin-bottom:0.8em;
    }

    .jeux{
        margin-top:2em;
        margin-bottom:5em;

        font-size:1.1em;
    }

    .explications{
        width:85%;
    }

    .explications p{
        font-size:1.3em;
    }

    .p_avenir{
        font-size:0.7em;
    }

    #contact{
        margin-top: 1.5em;
        margin-bottom:3em;
        font-size:1em;
    }

}

.a_jeux{
    
    text-decoration:none;
    font-weight:bold;

    margin-left:1em;
    margin-right:1em;

    text-align:center;

    color:#2facff;

    transition: color 0.2s;
}

.a_jeux:hover{
    color:#ff4500;
}

.jeux{
    visibility: hidden;
    
    margin-left:auto;
    margin-right:auto;
    padding:1.2em;

    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:80%;
    
    background-color:#f3f3f3;
}

.btn_jeux, .btn_jeux_avenir{
    font-size:1.5em;
    font-weight: bold;
}

.explications{
    margin-left:auto;
    margin-right:auto;
}

label{
    font-weight:bold;
}

#contenu{
    margin-left:auto;
    margin-right:auto;
    
    min-height:100%;

    text-align:center;
}

.p_avenir{
    font-style: italic;
    color:#e00000;
}

#sl_niveau{
    background-color:#313131;
    color:#80ccff;
    border-radius: 3px;
}

#sl_niveau #all{
    color:#80ccff;
}
#sl_niveau #N5{
    color:#4dff4d;
}
#sl_niveau #N4{
    color:#c9ff33;
}
#sl_niveau #N3{
    color:#fff71a;
}
#sl_niveau #N2{
    color:#ffb61a;
}
#sl_niveau #N1{
    color:#ff471a;
}

#contact{
    visibility: hidden;

    background-color:#f3f3f3;

    padding-top:0.5em;
    padding-bottom:0.5em;
}

#btn_contact{
    height:3em;
    width:10em;
    margin:0 0.3em 0.3em 0.3em;
    font-size:1.7em;
    font-weight: bold;

    border-style: none;
    border-radius: 10px 35px 10px 35px;

    background-color:#313131;
    color: #c4c4c4;
    transition: background-color 0.3s, color 0.3s;

    cursor: pointer;
}

#btn_contact:hover{
    background-color:#b8b8b8;
    color: #2facff;
}