#d_liste_kanji{
    min-height:39.8em;
    margin-top:1em;
    margin-bottom:5em;
}

#lstkanji{
    font-size: 1.4em;
    padding-left:4em;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    row-gap:1em;
}

.lkanji{
    left: 0;
    display: flex;
    flex-direction: row;
    gap:5em;
    border: black solid 2px;
    width:50em;
}
.kanji{
    font-size:8em;
    padding:0.4em;
    display:flex;
    border-right:black dotted 1px;
}

.d_lect{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-right:4em;
}

h3 {
    font-size:1.6em;
}

#form_search{
    margin:1em;
    display:flex;
    justify-content:center;
    column-gap:1em;
}

#search{
    font-size:1.7em;
    height:2.1em;
    width:40em;
    border-radius:5px;
}

#sub_search{
    border-style:none;
    border-radius: 15px;

    width:12em;
    height:3.1em;
    font-size:1.2em;

    cursor: pointer;

    transition: background-color 0.2s, color 0.2s;
}

#sub_search:hover, #sub_search:active{
    background-color:#838282;
    color:#FCFCFC;
}

.niveau{
    font-size:1.4em;
}