h2{
    font-size:2.7em;
}

a {
    text-decoration: none;
    
}

#contenu{
    margin-left:auto;
    margin-right:auto;
    
    min-height:100%;

    text-align:center;
}

#cont_quiz{
    margin-left:auto;
    margin-right:auto;

    width:60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    
    background-color: #eef9ff;

    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    padding: 0.6em;
}

#qcm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap; 
}

#bonne_reponse, #mauvaise_reponse, #temps_ecoule{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2em;
    margin-top: 2em;
    width:40em;
    height:5em;

    display:flex;

    border: dashed 0.15em;
    border-radius: 1em;
}

.btn_rep{
    font-size: 4.7em;
    width: 4.8em;
    height:2.6em;

    border-style: none;
    border-radius: 7px 45px 7px 45px;

    cursor: pointer;

    background-color: white;

    transition: color 0.2s, background-color 0.2s;
}

.btn_rep:hover:enabled{
    background-color:#2facff;
    color:#FDFDFD;
}

#d_btn_rep{
    width:55em;
    margin-left:auto;
    margin-right:auto;

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    row-gap:2.5em;
    
}

#btn_qsuivante{
    border-style:none;
    border-radius: 15px;

    width:12em;
    height:3.1em;
    font-size:1.2em;

    cursor: pointer;

    transition: background-color 0.2s, color 0.2s;
}

#btn_qsuivante:hover, #btn_qsuivante:active{
    background-color:#838282;
    color:#FCFCFC;
}

#progress_bar{
    width:30em;
    height:0.9em;
}

#retour{
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom:2em;

    text-align:center;

    display:flex;
    align-items:center;
    justify-content:center;

    border-style:none;
    border-radius: 15px;

    width:12em;
    height:3.1em;
    font-size:1.2em;
    background-color:#ff6e6ee0;
    color:white;

    cursor: pointer;

    transition: background-color 0.2s, color 0.2s;
}

#timer{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0.5em;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:2.7em;
    background-color:#6fb2ff;
    color:#daebff;

    border-radius:50%;

    width:2em;
    height:2em;

    transition: color 0.4s, background-color 0.4s;
}

#niveau_actuel{
    font-size:1.6em;
    font-weight:bold;
    margin-bottom:0.5em;
}

#br{
    color:#25bb00;
    font-size:1.2em;
    font-weight:bold;
}

#mr{
    color:#990101;
    font-size:1.2em;
    font-weight:bold;
}

